[Unit]
Description=Greengrass Core
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
PIDFile=/greengrass/alts/loader.pid
RemainAfterExit=no
Restart=on-failure
RestartSec=10
ExecStart=/bin/sh /greengrass/alts/current/distro/bin/loader

[Install]
WantedBy=multi-user.target
